<IfModule mod_rewrite.c>
	# http://httpd.apache.org/docs/2.0/mod/mod_rewrite.html#rewritecond
	# PERFEITO :D
	
	RewriteEngine On
	
	RewriteBase /
	
	Options +FollowSymLinks
	
	IndexIgnore */*
	
	
	#se for diretório redireciona
	RewriteCond %{SCRIPT_FILENAME} !-f
	
	#se for arquivo redireciona
	RewriteCond %{SCRIPT_FILENAME} !-d [OR]
	RewriteCond %{SCRIPT_FILENAME} -d
	

	RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
	
	
	# otherwise forward it to index.php 
	#RewriteRule ^(.*)$ - [NC,L]
	#RewriteRule ^(.*)$ index.php?url=$1 [NC,L]
	
	# otherwise forward it to index.php
	#RewriteRule !\.(ico|gif|jpg|png|txt|js|css|eot|svg|ttf|woff)$ - [NC,L]
	#RewriteRule !\.(ico|gif|jpg|png|txt|js|css|eot|svg|ttf|woff)$ index.php?url=$1 [NC,L]
	
</IfModule>

